{% extends 'base.html.twig' %}

{% block title %}Editer la catégorie{% endblock %}

{% block body %}
    <h1>Editer la catégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="col-sm-10">
        <button type="submit" class="btn-success btn">modifier la catégorie</button>
        {{ form_end(form) }}
        <a href="{{ path('category_index') }}"><button class="btn-primary btn">Retour à la liste</button></a>
        {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
