{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <div class="form-group row">
        <div class="col-sm-2">
            <a href="{{ path('category_index') }}"><button type="submit" class="btn-primary btn">Retour à la liste</button></a>
        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn-success btn">Créer la catgeorie</button>
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
