{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">Retour à la liste</a>
{% endblock %}
