<form method="post" action="{{ path('produit_delete', {'slug': produit.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.slug) }}">
    <button class="btn">Delete</button>
</form>
