{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}
{% block body %}
    <h1>Creation d'un nouveau produit</h1>

    {{ include('produit/_form.html.twig') }}
    <div class="form-group row">
        <div class="col-sm-2">
            <a href="{{ path('produit_index') }}"><button type="submit" class="btn-primary btn">Retour à la liste</button></a>
        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn-success btn">Créer l’article</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
