{% extends 'base.html.twig' %}

{% block title %}Editer un utilisateur{% endblock %}

{% block body %}
    <h1>Editer un utilisateur</h1>

    <div class="my-5">
    {{ include('admin/_form.html.twig') }}
    </div>

    <div class="col-12 row justify-content-between">
        <div>
        <a href="{{ path('admin') }}" class="btn-primary btn">Retour à la liste</a>
        </div>
        <div>
        <button type="submit" class="btn-success btn">Modifier l'utilisateur</button>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

