{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="mt-2">Zone d'amninistration</h1>
        <table class="table m-3">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {{ role }}
                        {% endfor %}
                    </td>
                    <td></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Il n'y a pas d'utilisateur à afficher</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
