<a href="www.mondocine.com" style="color:black;text-decoration-none;font-size: 24px">
    <img src="{{ img }}" width="30" height="30" style="color:white"/>
    <strong>mondocine</strong>
</a>
<h1>Bienvenue sur le site Mondocine !</h1>

<p><strong>Bienvenue {{ name }}.</strong><br>
    Nous éspèrons que ce site vous plaira !<br>
A tres vite sur <a href="www.mondocine.com" class="display:inline">mondocine</a></p>

