<form method="post" class="d-inline" action="{{ path('tag_delete', {'id': tag.id}) }}" onsubmit="return confirm('Etes vous sûrs de vouloir supprimer cet enregistrement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button class="btn-danger btn">Supprimer le tag</button>
</form>
