{% extends 'base.html.twig' %}

{% block title %}Editer un Tag{% endblock %}

{% block body %}
    <h1>Editer un  Tag</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="col-sm-10">
        <button type="submit" class="btn-success btn">Modifier le Tag</button>
        {{ form_end(form) }}
        <a href="{{ path('tag_index') }}">Retour à la liste des Tags</a>
        {{ include('tag/_delete_form.html.twig') }}
    </div>
{% endblock %}
