{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Tag{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Créer un nouveau Tag</h1>

    {{ include('tag/_form.html.twig') }}

    <div class="form-group row">
        <div class="col-sm-2">
            <a href="{{ path('tag_index') }}"><button type="submit" class="btn-primary btn">Retour à la liste des tags</button></a>
        </div>
        <div class="col-sm-10">
            <button type="submit" class="btn-success btn">Créer le tag</button>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
